#**Pandas**

Pandas is a python library used to work with large datasets. It has functions like analyzing, clearning, exploring and manipulating data.

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
iris_df = pd.read_csv("/Iris.csv")
print(iris_df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [ ]:
# Type of Dataframe
print(type(iris_df))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
# To copy a Dataframe
dataframe = iris_df.copy()

In [ ]:
# Print Rows from beginning and end 
print(dataframe.head(10))
print(dataframe.tail(10))

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa
      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
140  141            6.7           3.1            5.6           2.4
141  142            6.9           3.1            5.1           2.3
142  143            5.8           2.7            5.1           1.9
143  144            6.8           3.2            5.9           2.3
144  145            6.7           3.3            5.7           2.5
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
140  Iris-virginica
141  Iris-virginica
142  Iris-virginica
143  Iris-virginica
144  Iris-virginica
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

In [ ]:
# Size and Type of Dataframe 
print(dataframe.shape)
print(dataframe.dtypes)

(150, 6)
Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [ ]:
# To print a coloumn
#dataframe["Species"]

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

##**Check for null values**

In [ ]:
# Check for null values
dataframe.isnull()
dataframe.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

###**Removing a row**

In [ ]:
# To drop a Row
dataframe.drop(0)
dataframe.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
# Update changes to the Dataframe
dataframe.drop(0, inplace=True)
dataframe.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa

In [ ]:
new_df = dataframe.drop(2) #works on labels
new_df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,2,4.9,3.0,1.4,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
# To print index values
new_df.index

Int64Index([  1,   3,   4,   5,   6,   7,   8,   9,  10,  11,
            ...
            140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
           dtype='int64', length=148)

###**Of the index array, give me the first element**

In [ ]:
new_df.index[0]

1

In [ ]:
# Drop first row and update 
new_df.drop(new_df.index[0], inplace = True)

In [ ]:
new_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa

In [ ]:
# Check condition in a coloumn
new_df.PetalWidthCm > 0.2

3      False
4      False
5       True
6       True
7      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: PetalWidthCm, Length: 147, dtype: bool

In [ ]:
# Rows with Petalwidth greater than 0.2
new_df[new_df.PetalWidthCm > 0.2]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
5,6,5.4,3.9,1.7,0.4,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
15,16,5.7,4.4,1.5,0.4,Iris-setosa
16,17,5.4,3.9,1.3,0.4,Iris-setosa
17,18,5.1,3.5,1.4,0.3,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
#Rows of SepalLength with PetalLength > 0.3
new_df[new_df.PetalLengthCm > 0.3].SepalLengthCm

3      4.6
4      5.0
5      5.4
6      4.6
7      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 147, dtype: float64

In [ ]:
new_df[new_df.Species == "Iris-virginica"].describe()

              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000

##**loc and iloc**

In [ ]:
print(new_df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa

In [ ]:
new_df.iloc[0:2, 0:3]

   Id  SepalLengthCm  SepalWidthCm
3   4            4.6           3.1
4   5            5.0           3.6

In [ ]:
# Works with index
print(new_df.iloc[0])

Id                         4
SepalLengthCm            4.6
SepalWidthCm             3.1
PetalLengthCm            1.5
PetalWidthCm             0.2
Species          Iris-setosa
Name: 3, dtype: object

In [ ]:
# Works with Labels
print(new_df.loc[0]) 
print(new_df.loc[3])

Id                         4
SepalLengthCm            4.6
SepalWidthCm             3.1
PetalLengthCm            1.5
PetalWidthCm             0.2
Species          Iris-setosa
Name: 3, dtype: object

In [ ]:
new_df.loc[0] = [2, 4.5, 3.1, 1.5, 0.3, 'Iris-setosa']
new_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa

In [ ]:
new_df.iloc[new_df[new_df.PetalLengthCm > 0.3].index[3]]

Id                        10
SepalLengthCm            4.9
SepalWidthCm             3.1
PetalLengthCm            1.5
PetalWidthCm             0.1
Species          Iris-setosa
Name: 9, dtype: object

In [ ]:
new_df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
7,8,5.0,3.4,1.5,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

It gets added by label but at the end

In [ ]:
new_df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
7,8,5.0,3.4,1.5,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

###**In order to reset the order of labels**

In [ ]:
# Updating the labels 
new_df.reset_index(inplace = True)

In [ ]:
print(new_df)

     index   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0        3    4            4.6           3.1            1.5           0.2
1        4    5            5.0           3.6            1.4           0.2
2        5    6            5.4           3.9            1.7           0.4
3        6    7            4.6           3.4            1.4           0.3
4        7    8            5.0           3.4            1.5           0.2
..     ...  ...            ...           ...            ...           ...
142    145  146            6.7           3.0            5.2           2.3
143    146  147            6.3           2.5            5.0           1.9
144    147  148            6.5           3.0            5.2           2.0
145    148  149            6.2           3.4            5.4           2.3
146    149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
142  Iris-virginica
143  Iris-virginica
144  Iris-virginica
145  Iris-virginica
146  Iris-virginica

[147 rows x 7 columns]

##**Dropping a column**

In [ ]:
# To drop a coloumm
new_df.drop(columns = ["index"], inplace = True)
new_df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,4,4.6,3.1,1.5,0.2,Iris-setosa
1,5,5.0,3.6,1.4,0.2,Iris-setosa
2,6,5.4,3.9,1.7,0.4,Iris-setosa
3,7,4.6,3.4,1.4,0.3,Iris-setosa
4,8,5.0,3.4,1.5,0.2,Iris-setosa
...,...,...,...,...,...,...
142,146,6.7,3.0,5.2,2.3,Iris-virginica
143,147,6.3,2.5,5.0,1.9,Iris-virginica
144,148,6.5,3.0,5.2,2.0,Iris-virginica
145,149,6.2,3.4,5.4,2.3,Iris-virginica
146,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
new_df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  147.000000     147.000000    147.000000     147.000000    147.000000
mean    77.000000       5.862585      3.050340       3.807483      1.219048
std     42.579338       0.824971      0.436263       1.748467      0.757278
min      4.000000       4.300000      2.000000       1.000000      0.100000
25%     40.500000       5.100000      2.800000       1.600000      0.300000
50%     77.000000       5.800000      3.000000       4.400000      1.300000
75%    113.500000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

##**Easier method to delete a column**

In [ ]:
# Delete a coloum
del new_df["SepalLengthCm"]

In [ ]:
new_df.describe()

               Id  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  147.000000    147.000000     147.000000    147.000000
mean    77.000000      3.050340       3.807483      1.219048
std     42.579338      0.436263       1.748467      0.757278
min      4.000000      2.000000       1.000000      0.100000
25%     40.500000      2.800000       1.600000      0.300000
50%     77.000000      3.000000       4.400000      1.300000
75%    113.500000      3.300000       5.100000      1.800000
max    150.000000      4.400000       6.900000      2.500000

##**Adding a new column**

In [ ]:
# Add new coloumn
new_df["color"] = "white"
new_df.head()

   Id  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species  color
0   4           3.1            1.5           0.2  Iris-setosa  white
1   5           3.6            1.4           0.2  Iris-setosa  white
2   6           3.9            1.7           0.4  Iris-setosa  white
3   7           3.4            1.4           0.3  Iris-setosa  white
4   8           3.4            1.5           0.2  Iris-setosa  white

#**How to handle missing data**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
iris_df = pd.read_csv("/Iris.csv")

In [ ]:
data_frame = iris_df.copy()

In [ ]:
data_frame.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
data_frame.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
# Adding missing values
data_frame.iloc[2:3, 2:4] = np.nan
data_frame.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           NaN            NaN           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
# Count of null values
data_frame.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
# Removing null value rows
data_frame.dropna(inplace = True)
data_frame.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa

In [ ]:
data_frame.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

Resetting the Index

In [ ]:
# Resetting idex after removing null row
data_frame.reset_index(inplace = True)
data_frame.head()

,index,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4,4.6,3.1,1.5,0.2,Iris-setosa
3,4,5,5.0,3.6,1.4,0.2,Iris-setosa
4,5,6,5.4,3.9,1.7,0.4,Iris-setosa

Instead of writing all the above lines to reset the index, you can directly write this statement

In [ ]:
data_frame = iris_df.copy()
data_frame.iloc[2:3, 2:4] = np.nan
data_frame.dropna(inplace = True)
data_frame.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa

In [ ]:
#data_frame.reset_index(drop = True, inplace = True)
data_frame.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   4            4.6           3.1            1.5           0.2  Iris-setosa
3   5            5.0           3.6            1.4           0.2  Iris-setosa
4   6            5.4           3.9            1.7           0.4  Iris-setosa

###**Find Mean, Mode and Median**

Replace the NaN values with either of the three values among mean, median and mode

In [ ]:
data_frame = iris_df.copy()
data_frame.iloc[2:3, 2:4] = np.nan
data_frame.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           NaN            NaN           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
# Fill null values with mean
data_frame.PetalLengthCm.fillna(data_frame.PetalLengthCm.mean(), inplace = True)
data_frame.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5       1.400000           0.2  Iris-setosa
1   2            4.9           3.0       1.400000           0.2  Iris-setosa
2   3            4.7           NaN       3.775168           0.2  Iris-setosa
3   4            4.6           3.1       1.500000           0.2  Iris-setosa
4   5            5.0           3.6       1.400000           0.2  Iris-setosa